@font-face {
  font-family: "Montserrat SemiBold";
  src: 
    local("Montserrat-SemiBold"),
    url(../fonts/montserrat/Montserrat-SemiBold.otf)
      format("truetype");
}

@font-face {
  font-family: "Montserrat Regular";
  src: 
    local("Montserrat-Regular"),
    url(../fonts/montserrat/Montserrat-Regular.otf)
      format("truetype");
}

@font-face {
  font-family: "Montserrat Thin";
  src: 
    local("Montserrat-Thin"),
    url(../fonts/montserrat/Montserrat-Thin.otf)
      format("truetype");
}
