.productDiv {
  /* max-width: calc(200px + 5vw);
  width: 100%; */
  text-align: center;
  word-wrap: break-word;
  color: var(--color-secondary);
  border-radius: 3px;
}

.imgContainer {
  background-color: white;
}

.img {
  object-fit: contain;
}
